<% include ../partials/header %>
<div class="container">
    <div>
    <h1 style="text-align: center; margin: 25px auto;"> Edit Profile</h1>
    <div style="width: 30%; margin: 30px auto;">
        <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <!--<div class="form-group">-->
                <!--<input type="text" name="username" value="<%= user.username %>">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="password" name="password" placeholder="password" >-->
            <!--</div>-->
            <div class="form-group">
                <input type="text" name="firstName" value="<%= user.firstName %>">
            </div>
            <div class="form-group">
                <input type="text" name="lastName" value="<%= user.lastName %>">
            </div>
            <div class="form-group">
                <input type="email" name="email" value="<%= user.email %>">
            </div>
            <div class="form-group">
                <input type="file" id="avatar" name="avatar" accept="image/*">
            </div>
            <div class="form-group">
                <textarea name="about" rows="4" cols="50"> <%= user.about %> </textarea>
            </div>
            <!--<div>-->
                <!--<label for="adminCheck">Wanna be an admin:</label>-->
                <!--<input type="checkbox" id="adminCheck">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="password" name="adminCode" placeholder="You must to know a key" id="adminField">-->
            <!--</div>-->
            <button>Edit</button>
        </form>
    </div>
    </div>
</div>
<!--<script>-->
    <!--var checkBox = document.getElementById("adminCheck");-->
    <!--var adminField = document.getElementById("adminField");-->
    <!--checkBox.addEventListener("change", function(){-->
      <!--if(checkBox.checked){-->
          <!--adminField.style.display = "block";-->
      <!--}else{-->
          <!--adminField.style.display = "none";-->
      <!--}-->
    <!--});-->
<!--</script>-->
<% include ../partials/footer %>