<% include ../partials/header %>

<div class="row">
    <div class="col-md-4 text-center">
        <div class="card border-light" >
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <img class="card-img-top" src="<%= user.avatar %>" alt="user profile image">
            <div class="card-footer text-muted text-left">
                E-mail: <a href="mailto:<%= user.email %>"><%= user.email %> </a>
            </div>
        </div>
        <h2 class="text-left">About me:</h2>
        <div class="text-left"> <%= user.about %></div>



    </div>
    <div class="col-md-8">
        <h3><%= user.firstName %>'s posts:</h3>
        <ul>
            <% campgrounds.forEach(function(campground){ %>
                <li><a href="/campgrounds/<%=campground._id %>"><%= campground.name %> </a></li>
            <% }); %>
        </ul>
    </div>

</div>

<% include ../partials/footer %>